/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.suggestion-subtitle {
	color: var(--text-muted)
}

.suggestion-new {
	color: var(--bold-color)
}

.deletion-modal-footer {
  padding: 8px 12px;
  border-top: 1px solid var(--interactive-border);
  background: var(--background-primary);
  font-size: smaller;
  color: var(--text-muted);
  flex-shrink: 0;
  display: flex;  
  justify-content: center;  
  align-items: center;  
}
